
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ece4e4;
    color: #302f2f;
    line-height: 1.6;
}
#feedback{
    max-width: 800px;
    margin: 10px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
}
#feedback h2{
    text-align: center;
    margin-bottom: 30px;
    color: #bc4133;
    font-size: 30px;
}
.feedback_form .form_group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.feedback_form .form_group label {
    font-weight: bold;
    color: #565555;
    font-size: 1.2rem;
}
.feedback_form .form_group input,
.feedback_form .form_group textarea {
    padding: 12px;
    border: 1px solid #f4eeee;
    border-radius: 5px;
    font-size: 16px;

}
.feedback_form button[type="submit"] {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
    font-weight: bold;
    margin-top: 10px;
}
.feedback_form button[type="submit"]:hover {
    background-color: #670d03;
}
.success_message {
    display: none;
    background-color: #2ecc71;
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}



