/* Bắt đầu Media Query cho màn hình nhỏ hơn hoặc bằng 800px */
@media (max-width: 600px) 
{	
	#header-top
	{
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}		
    .text 
	{
        display: none;
    }
    #header-mid > input 
	{
        display: none;
    }
	#header-mid-min
	{
		display:none;
		height:50px;
		width:70%;
		max-width:500px;
		flex-grow:1;
		margin-left:auto;
		margin-right:auto;
		margin-top:10px;
		border-radius:999px;
		background-color:#f0f0f0;
		align-items:center;
	}		
	#search-icon-min
	{
		height:40px;
		width:30px;
		font-size:20px;
		margin-left:20px;
		display:flex;
		justify-content:center;
		align-items:center;
		flex-shrink:0;
	}	
	#header-mid-min>input
	{	
		height:40px;
		width:70%;
		max-width:250px;
		padding:0px;
		margin-top:0px;
		margin-left:10px;
		border:none;
		background-color:#f0f0f0;
	}
	#header-mid-min>input:focus
	{
		outline:none;
	}	
    #main-header 
	{
		display:flex;
        justify-content: flex-end; 
        padding: 0 10px; 
	}	
    #header-mid 
	{
		background-color:white;
		color:#b5292f;
		font-size:25px;
		order: 1; 
        flex-grow: 0;
        flex-basis: auto;
        margin-left: 80px; 
        margin-right: 15px; 
    }
    #header-right 
	{
        order: 2; 
        width: auto;
        margin-left: 0; 
        margin-right: 0; 
        gap: 15px;
        justify-content: flex-start; 
    }
    #phone-icon, #user-icon, #store-icon 
	{
         width: auto;
    }
	#header-bottom 
	{
		display:none;
		position:absolute;
		top:0px;
		background-color:blue;
		height: 600px;
		width:50%;
		box-shadow: 2px 2px 5px lightgray;
		background-color: white;
		z-index:15;
	}
	#header-left
	{
		width:30%;
		
	}	
	#nav 
	{
		width: 100%;
		max-width: 1130px;
		height: 50px;
		margin-top:20px;
		font-family: SFProDisplay, sans-serif;
		font-size: 15px;
		display: flex;
		flex-direction:column;
		justify-content: center; 
		align-items: center; 
	}
	#nav li
	{
		width:60%;
	}	
	#nav li a
	{
		padding-left:20px;
		padding-right:20px;
	}	
	#logofmedia
	{
		display:block;
		height:50px;
		width:70%;
		margin:10px auto;
		
	}	
	#menu-tog
	{
		display:block;
		margin-left:0px;
		margin-right:40px;
	}	
	.service
	{
		max-width:1130px;
		width:80%;
		height:480px;
		margin:10px auto 0 auto;
		display:flex;
		flex-direction:column;
	}	
	.homeservice
	{
		width:70%;
		margin:10px 1% 10px 1%;
		box-shadow: 0px 1px 9px 2px #f1f1f1;
		border-radius:5px;
		height:100px;
		display:flex;
		align-items:center;
	}	
	.homeservice-icon
	{
		height:50px;
		width:50px;
		margin:25px 0px 25px 10px;
		display:flex;
		justify-content:center;
		align-items:center;
		font-size:45;
		color:#b5292f;
	}	
	.caption
	{
		width:80%;
		height:50px;
		margin:0px 5px 0px 10px;
	}	
	.thucdon
	{
		max-width:1130px;
		width:100%;
		height:1240px;
		margin:20px auto 20px auto !important;
		display:flex;
		flex-direction:column;
	}	
	.mon
	{
		width:80%;
		height:290px;
		margin:10px auto 10px auto;
		background-color:white;
		border-radius:5px;
		font-size:20px;
		text-align:center;
		background-color:#f0f0f0;
	}	
	.mon>img
	{
		width:100%;
		height:180px;
		margin-bottom:10px;
	}	
	.sales
	{
		
		height:20px;
		width:60%;
		height:30px;
		margin:10px auto 0 auto;
		border-radius:5px;
		background-color:#b5292f;
		color:white;
		display:flex;
		justify-content:center;
		align-items:center;
	}	
	#footer
	{
		height:1090px;
	}	
	#main-footer
	{
		flex-direction:column;
		height:1050px;
	}
	#f1,#f2,#f3
	{
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
	#iback
	{
		margin-right:5px;
	}	
	#fixed0
	{
		margin-right:5px;
		width:30px;
		height:30px;
	}
	#fixed1
	{
		margin-right:5px;
		width:30px;
		height:30px;		
	}	
	#chatboxloc
	{
		right:40px;
	}	
	
}
/*950*/
@media (min-width: 601px) and (max-width: 950px) 
{
	#header-top
	{
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}		
    .text 
	{
        display: none;
    }
    #header-mid > input 
	{
        display: none;
    }
	#header-mid-min
	{
		display:none;
		height:50px;
		width:70%;
		max-width:500px;
		flex-grow:1;
		margin-left:auto;
		margin-right:auto;
		margin-top:10px;
		border-radius:999px;
		background-color:#f0f0f0;
		align-items:center;
		position:relative;
	}		
	#search-icon-min
	{
		height:40px;
		width:30px;
		font-size:20px;
		margin-left:20px;
		margin-right:0px;
		display:flex;
		justify-content:center;
		align-items:center;
		flex-shrink:0;
	}	
	#header-mid-min>input
	{	
		height:40px;
		width:70%;
		max-width:250px;
		padding:0px;
		margin-top:0px;
		margin-left:10px;
		border:none;
		background-color:#f0f0f0;
	}
	#header-mid-min>input:focus
	{
		outline:none;
	}	
    #main-header 
	{
		display:flex;
        justify-content: space-between; 
        padding: 0 10px; 
	}	
    #header-mid 
	{
		background-color:white;
		color:#b5292f;
		font-size:25px;
		order: 1; 
        flex-grow: 0;
        flex-basis: auto;
        margin-left: 160px; 
        margin-right: 15px; 
    }
    #header-right 
	{
        order: 2; 
        width: auto;
        margin-left: 0; 
        margin-right: 0; 
        gap: 15px;
        justify-content: flex-start; 
    }
    #phone-icon, #user-icon, #store-icon 
	{
         width: auto;
    }
	#header-bottom 
	{
		display:none;
		position:absolute;
		top:0px;
		background-color:blue;
		height: 600px;
		width:50%;
		box-shadow: 2px 2px 5px lightgray;
		background-color: white;
		z-index:15;
	}
	#header-left
	{
		width:40%;
		margin-left:10px;
	}	
	#nav 
	{
		width: 100%;
		max-width: 1130px;
		height: 50px;
		margin-top:20px;
		font-family: SFProDisplay, sans-serif;
		font-size: 15px;
		display: flex;
		flex-direction:column;
		justify-content: center; 
		align-items: center; 
	}
	#nav li
	{
		width:60%;
	}	
	#nav li a
	{
		padding-left:20px;
		padding-right:20px;
	}	
	#logofmedia
	{
		display:block;
		height:50px;
		width:70%;
		margin:10px auto;
		
	}	
	#menu-tog
	{
		display:block;
		margin-left:0px;
		margin-right:10px;
	}
	#son
	{
		position:absolute;
		right:10px;
	}	
	.service
	{
		max-width:1130px;
		width:80%;
		height:240px;
		margin:10px auto 0 auto;
		display:flex;
		flex-wrap:wrap;
	}	
	.homeservice
	{
		width:48%;
		margin:10px 1% 10px 1%;
		box-shadow: 0px 1px 9px 2px #f1f1f1;
		border-radius:5px;
		height:100px;
		display:flex;
		align-items:center;
	}	
	.homeservice-icon
	{
		height:50px;
		width:50px;
		margin:25px 0px 25px 10px;
		display:flex;
		justify-content:center;
		align-items:center;
		font-size:45;
		color:#b5292f;
	}	
	.caption
	{
		width:80%;
		height:50px;
		margin:0px 5px 0px 10px;
	}	
	.thucdon
	{
		max-width:1130px;
		width:80%;
		height:620px;
		margin:20px auto 20px auto;
		display:flex;
		flex-wrap:wrap;
	}	
	.mon
	{
		width:48%;
		height:290px;
		margin:10px 1% 10px 1%;
		background-color:white;
		border-radius:5px;
		font-size:20px;
		text-align:center;
		background-color:#f0f0f0;
	}	
	.mon>img
	{
		width:100%;
		height:180px;
		margin-bottom:10px;
	}	
	.sales
	{
		
		height:20px;
		width:60%;
		height:30px;
		margin:10px auto 0 auto;
		border-radius:5px;
		background-color:#b5292f;
		color:white;
		display:flex;
		justify-content:center;
		align-items:center;
	}	
	#footer
	{
		height:950px;
	}	
	#main-footer
	{
		height:900px;
		flex-direction:column;
	}
	#f1,#f3
	{
		margin-top:20px;
		width:60%;
		margin-left:auto;
		margin-right:auto;
	}	
	#f3
	{
		margin-top:60px;
		margin-left:auto;
		margin-right:auto;
	}	
	#f2
	{
		margin-top:0px;
		width:60%;
		margin-left:auto;
		margin-right:auto;	
	}	
	#locate
	{
		width:80%;
	}
	#iback
	{
		margin-right:20px;
	}	
	#fixed0
	{
		margin-right:10px;
	}	
	#fixed1
	{
		margin-right:10px;
	}
}	