*
{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
a
{
	text-decoration:none;
}	
li
{
	list-style:none;
}		
#header-top
{
	height:70px;
	width:100%;
	background-color:white;
}	
#main-header
{
	height:70px;
	width:100%;
	max-width:1130px;
	margin-left:auto;
	margin-right:auto;
	padding:0 20px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}	
#header-left
{
	height:50px;
	width:150px;
	background-color:red;
	margin-top:10px;
	flex-shrink:0;
}	
#header-mid
{
	display:flex;
	height:50px;
	max-width:500px;
	flex-grow:1;
	border-radius:999px;
	background-color:#f0f0f0;
	align-items:center;
}	
#header-right
{
	display:flex;
	height:50px;
	width:320px;
	align-items:center;
	flex-shrink:0;
}	
#search-icon
{
	height:40px;
	width:30px;
	font-size:20px;
	margin-left:20px;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-shrink:0;
}	
#header-mid>input
{	
	height:40px;
	width:70%;
	max-width:400px;
	padding:0px;
	margin-top:0px;
	margin-left:10px;
	border:none;
	background-color:#f0f0f0;
}	
#phone-icon,#user-icon,#store-icon 
{
    height: 40px;
    font-size: 25px;
    color: #b5292f;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}		
#phone-icon 
{
    width: 100px;
    margin-left: 0px;
}
#user-icon 
{
    position: relative;
    width: 112px;
    margin-left: -2px;
}
#store-icon 
{
    width: 100px;
    margin-left: 2px; 
}

.text
{
	margin-left:5px;
	color:black;
	font-size:20px;
	white-space: nowrap;
	text-align:center;
}	
#menu-login
{
	display:none;
	position:absolute;
	right:0px;
	top:40px;
	background-color:white;
	border-radius:5px;
	border:1px solid rgb(239, 239, 239);
	z-index:1000;
}
#menu-login li i
{
	font-size:14px;
	margin-right:5px;
}	
#menu-login li a
{
	font-size:14px;
	display:block;
	padding:8px 20px;
	color:#333;
	margin-left:0px;
	width:100%;
}	
#user-icon:hover #menu-login
{
	display:block;
}	
#user-icon:hover #menu-login a:hover
{
	background-color:rgb(239,239,239);
}	


/*header-bottom*/
#header-bottom
{
	margin:0px;
	height:50px;
	box-shadow: 2px 2px 5px lightgray;
	background-color:white;
}	
#nav
{
	width:100%;
	max-width:1130px;
	height:50px;
	margin:0 auto;
	font-family: SFProDisplay, sans-serif;
	font-size:15px;
	display:flex;
	justify-content:center;
	align-items:center;
}	
#nav ul
{
	display:flex;
	height:50px;
	flex-wrap:wrap;
	justify-content:center;
}	
.nav-menu, .active
{
	font-family: 'Roboto', sans-serif;
	padding:16px 40px;
	font-size:15px;
	color:black;
	display:block;
	position:relative
}	
.nav-menu::before, .active::before
{
	content:"";
	height:4px;
	width:0%;
	background:#f00;
	position:absolute;
	bottom:0px;
	left:0px;
	transition:0.25s;
}
#nav li:hover>.nav-menu::before, .active::before
{
	width:100%;
}	