/* Bắt đầu Media Query cho màn hình nhỏ hơn hoặc bằng 800px */
@media (max-width: 600px) 
{
	#header-top
	{
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}		
    .text 
	{
        display: none;
    }
    #header-mid > input 
	{
        display: none;
    }
	#header-mid-min
	{
		display:none;
		height:50px;
		width:70%;
		max-width:500px;
		flex-grow:1;
		margin-left:auto;
		margin-right:auto;
		margin-top:10px;
		border-radius:999px;
		background-color:#f0f0f0;
		align-items:center;
	}		
	#search-icon-min
	{
		height:40px;
		width:30px;
		font-size:20px;
		margin-left:20px;
		display:flex;
		justify-content:center;
		align-items:center;
		flex-shrink:0;
	}	
	#header-mid-min>input
	{	
		height:40px;
		width:70%;
		max-width:250px;
		padding:0px;
		margin-top:0px;
		margin-left:10px;
		border:none;
		background-color:#f0f0f0;
	}
	#header-mid-min>input:focus
	{
		outline:none;
	}	
    #main-header 
	{
		display:flex;
        justify-content: flex-end; 
        padding: 0 10px; 
	}	
    #header-mid 
	{
		background-color:white;
		color:#b5292f;
		font-size:25px;
		order: 1; 
        flex-grow: 0;
        flex-basis: auto;
        margin-left: 80px; 
        margin-right: 15px; 
    }
    #header-right 
	{
        order: 2; 
        width: auto;
        margin-left: 0; 
        margin-right: 0; 
        gap: 15px;
        justify-content: flex-start; 
    }
    #phone-icon, #user-icon, #store-icon 
	{
         width: auto;
    }
	#header-bottom 
	{
		display:none;
		position:absolute;
		top:0px;
		background-color:blue;
		height: 600px;
		width:50%;
		box-shadow: 2px 2px 5px lightgray;
		background-color: white;
		z-index:15;
	}
	#header-left
	{
		width:30%;
		
	}	
	#nav 
	{
		width: 100%;
		max-width: 1130px;
		height: 50px;
		margin-top:20px;
		font-family: SFProDisplay, sans-serif;
		font-size: 15px;
		display: flex;
		flex-direction:column;
		justify-content: center; 
		align-items: center; 
	}
	#nav li
	{
		width:60%;
	}	
	#nav li a
	{
		padding-left:20px;
		padding-right:20px;
	}	
	#logofmedia
	{
		display:block;
		height:50px;
		width:70%;
		margin:10px auto;
		
	}	
	#menu-tog
	{
		display:block;
		margin-left:0px;
		margin-right:40px;
	}	
}
/*950*/